body{
    background-color:#000;
}
#demo {
    width: 600px;
    height: 50px;
    background-color: #333;
    float: left;
}

#balls {
    width: auto;
    margin-left: 600px;
    height: 50px;
    background-color: #555;
    overflow: hidden;
}
#logo {
    position: relative;
    width: 50px;
    height: 50px;
    background: url(img/logo_black.jpg) no-repeat;
    border-radius: 50%;
}

.ball {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    background: url(img/logo_black.jpg) no-repeat;
    border-radius: 50%;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    /*margin-right: 20px;*/
}

.circle3 {
    width: 50px;
    height: 50px;
    background: blue;
    position: relative;
    /*word-spacing: -1;*/
    /*margin-left: -4px;*/

}

.circle4 {
    width: 25px;
    height: 25px;
    background: orange;
    position: absolute;
    top: 20%;
    left: 21%;
    display: block;
    border: 2px solid #fff;
}

.balls {
    display: inline-block;
    margin-left: 4px;
}

.text {
    font-family: "BodoniSvtyTwoOSITCTT-Bold", "Georgia", serif;
    text-rendering: optimizeLegibility;
    /* font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;*/
    vertical-align: middle;
    font-size: 0.7em;
    line-height:0.7em;
    position: absolute;
    margin-top: 8px;
    margin-left: 6px;
}

